$base_light_color: #ffffff;
$base_dark_color: #262626;
$base_backgroundColor: #002766;
$base_hoverColor: #0050b3;
$base_warnColor: #faad14;
$base_errorColor: #ff4d4f;
$base_successColor: #52c41a;
$base_backgroundBeforeGradientColor: rgb(215, 215, 215);
$base_backgroundGradientColor: linear-gradient(38deg, rgba(215, 215, 215, 1) 0%, rgba(230, 230, 230, 1) 35%, rgba(246, 246, 246, 1) 100%);
$base_disabled_Color: #262626;
$base_disabled_backgroundColor: #d9d9d9;